@keyframes hover-photo {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-2.5%);
  }
  50% {
    transform: translateX(2.5%);
  }
  75% {
    transform: translateX(-2.5%);
  }
  100% {
    transform: translateX(0%);
  }
}

nav ul a:hover {
  transform: translatex(1rem) scale(1.1);
  color: hsl(210, 94%, 74%);
}
nav ul i:hover {
  cursor: pointer;
}

#pfp-2:hover {
  animation: hover-photo 0.3s ease-out 1 forwards;
}

#cv img:hover {
  cursor: pointer;
  width: 42vw;
  border: solid 0.5vw hsl(210, 100%, 52%);
}

#projecten .galerij-kolom img:hover {
  transform: scale(1.06);
  filter: grayscale(0);
  border: none;
}

#contact form button:hover {
  transform: scale(1.1);
  border-radius: 25px;
  background-color: hsl(210, 100%, 52%);
  color: hsl(240, 24%, 96%);
}

#contact form input:active {
  background-color: hsl(240, 24%, 96%);
}

@media (max-width: 1000px) {
  #cv img:hover {
    width: 65vw;
  }

  i.fa-bars:hover {
    transform: translate(2rem, 2rem) scale(1.2);
    color: hsl(210, 97%, 87%);
  }
}

@media (max-width: 800px) {
  #cv img {
    width: 85vw;
  }
}
