* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
  cursor: pointer;
}

/* scrollbar start */

body::-webkit-scrollbar {
  width: 0.2rem;
  background: hsl(240, 3%, 11%);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    hsla(240, 3%, 11%, 0.1),
    hsl(0, 0%, 100%),
    hsl(0, 0%, 50%),
    hsla(240, 3%, 11%, 0.1)
  );
  border-radius: 25px;
}

/* scrollbar end */

/* navigation start */

nav {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 4rem;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
}

nav ul a {
  color: hsl(240, 24%, 96%);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 2rem;
}

/* navigation end */

/* splash-screen start */

#splash {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(../img/IMG_1158.JPG);
  background-position: 0px 90%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#pfp {
  width: 20vw;
  border-radius: 100%;
  border: solid 0.5vw hsl(210, 100%, 52%);
}

#splash #intro {
  color: hsl(210, 100%, 52%);
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
}
#splash p {
  color: hsl(240, 24%, 96%);
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

/* splash-screen end */

/* main-sections start */

section {
  font-family: "Rubik", sans-serif;
  padding: 10rem;
}

section h2 {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

section h3 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

section article {
  display: flex;
}

/* main-sections end */

/* about-me-section start */

#about-me article p {
  color: hsl(240, 3%, 11%);
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 75%;
  text-align: justify;
}

#about-me h2 {
  color: hsl(211, 100%, 50%);
}

#pfp-2 {
  width: 90%;
}

#pfp-2 img {
  border-radius: 50px;
  border: solid 0.5vw hsl(211, 100%, 50%);
}

/* about-me-section end */

/* cv-section start */

#cv {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(../img/IMG_4543.jpg);
  background-position: 0px 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#cv article {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cv img {
  width: 40vw;
  transition: ease-in-out 0.3s all;
}
#cv h2 {
  color: hsl(210, 100%, 52%);
}

/* cv-section end */

/* portfolio-section start */

#portfolio div {
  text-align: center;
}

#portfolio div h2 {
  color: hsl(211, 100%, 50%);
}

#portfolio div h3 {
  color: hsl(240, 3%, 11%);
}

/* more code in carousel.css */
/* portfolio-section end */

/* gallery-section start */

#projecten .galerij-rij {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}
#projecten .galerij-kolom {
  flex: 25%;
  padding: 0 0.5em;
}

#projecten .galerij-kolom img {
  display: block;
  width: 95%;
  margin-top: 1em;
  filter: grayscale(1);
  transition: ease-in-out 0.3s all;
}

/* gallery-section end */

/* contact-section start */

#contact {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)),
    url(../img/IMG_1157.JPG);
  background-position: 0px 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#contact h2 {
  color: hsl(210, 100%, 52%);
  text-align: center;
}

#contact form {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: auto auto auto auto;
}
#contact form input {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.1rem;
  border-radius: 15px;
  border-style: none;
}
#contact form button {
  padding: 1rem;
  margin: 1rem;
  width: 30%;
  cursor: pointer;
  border-radius: 20px;
  border-style: none;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out all;
  border: solid 0.3vw hsl(210, 100%, 52%);
}
#contact form input:hover {
  cursor: text;
}

/* contact-section end */

/* footer start */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  background: hsl(240, 3%, 11%);
  z-index: 100;
}

footer ul i {
  font-size: 2rem;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
}

footer span {
  color: hsl(240, 24%, 96%);
  font-size: 1rem;
  margin: 0 2rem 0 2rem;
}

footer span i{
  cursor: pointer;
}

.fa-instagram {
  background: linear-gradient(100deg, hsl(276, 100%, 55%), hsl(45, 99%, 50%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-facebook {
  background: linear-gradient(100deg, hsl(202, 97%, 54%), hsl(212, 97%, 45%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-linkedin-in {
  color: hsl(210, 90%, 40%);
}

/* footer end */

/* media-queries start max-width 1000px */

@media (max-width: 1000px) {
  #projecten .galerij-kolom {
    flex: 50%;
  }
}

/* media-queries end max-width 1000px */

/* media-queries start max-width 600px */

@media (max-width: 800px) {
  #projecten .galerij-kolom {
    flex: 100%;
  }
}

/* media-queries start max-width 600px */
